<h1>Sign In</h1>

<div class='form'>
  <%= form_tag('/sessions') do |f| %>
    <div class='field'>
      <input class='placeholder-input' type="email" name="email" id="email" placeholder="Email">
    </div>

    <div class='field'>
      <input class='placeholder-input' type="password" name="password" id="password" placeholder="Password">
    </div>
    <div>
      <input class="btn btn-default" type="submit" value="Login">
      <a class="btn btn-default" action="get" href="/users/new">Sign Up</a>
  <% end %>
  </div>
</div>