<div id="FlashAlert"><%= flash[:alert] %></div>
<h1>Sign In</h1>

<div class='form'>
  <%= form_tag('/sessions') do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='field'>
      <label style="color:#737373" class="placeholder-label" type="email">Email</label>
      <input class='placeholder-input' type="email" name="email" id="email">
    </div>

    <div class='field'>
      <label style="color:#737373" class="placeholder-label" type="password">Password</label>
      <input class='placeholder-input' type="password" name="password" id="password">
    </div>
    <div align="right">
      <input class="btn btn-default" type="submit" value="Sign In">
      <a class="btn btn-default" action="get" href="/users/new">Sign Up</a>
  <% end %>
  </div>
</div>

<script>$(".placeholder-input").on("blur", function() {
  $(this).toggleClass("not-empty", !!$(this).val());
});</script>