<h1>Sign Up</h1>


<div class='form'>
  <%= form_for(@user) do |f| %>
    <div class='field'>
      <%= f.text_field :email, class: 'placeholder-input', placeholder: "Email" %>
    </div>

    <div class='field'>
      <%= f.password_field :password, class: 'placeholder-input', placeholder: "Password" %>
    </div>
    <div>
      <%= f.submit value: "Sign Up", class: "btn btn-default" %>
      <a class="btn btn-default" action="get" href="/sessions/new">Login</a>
  <% end %>
  </div>
</div>