<% if !@shopping_list_item.nil? && @shopping_list_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @shopping_list_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @shopping_list_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart. Please <%= link_to "go back", root_path %> and add some items to your
    cart.
  </p>
<% else %>

  <table>
    <tr>
      <th><h3>Product Name</h3></th>
      <th></th>
    </tr>
    <% @shopping_list_items.each do |item| %>
      <tr>
        <% unless item.purchased == true %>
          <td><%= item.name %></td>
          <td><%= link_to "Purchased", shopping_list_item_path(id: item.id) %></td>
          </tr>
        <% end %>
    <% end %>
  </table>
<% end %>