<h2><%= "My List of Items" %></h2>

<ul>
  <% @list_of_items.each do |item| %>
    <li><h4><%= link_to item.name, products_path(item_id: item.id) %> <%= link_to '<button type="button">Remove Item</button>'.html_safe, delete_item_path(id: item.id), method: :post %> </h4></li>
  <% end %>
</ul>

<%= link_to '<button type="button">Create New Item</button>'.html_safe, new_user_item_path(user_id: current_user.id) %>