<h2><%= "My List of Items" %></h2>

<ul>
<% @list_of_items.each do |item| %>
  <li><h4><%= item.name %></h4></li>
<% end %>
</ul>

<button><%= link_to "Create New Item", new_user_item_path(user_id: current_user.id) %></button>